@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;  
}

a {
    text-decoration: none;
}

hr {
    margin: 1.5rem 0 1.5rem 0;
    visibility: hidden;
}

.container {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 0.18fr 1fr;
}

.header {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 0.5fr 0.9fr;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: center;
    box-shadow: 2px 5px 8px 0 rgb(0, 0, 0, 0.2);
}

.search {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
}

.magnifier {
    float: right;
    margin-right: -2rem;
    cursor: pointer;
}

input {
    width: 110%;
    height: 2.5rem;
    border-radius: 1.8rem;
    float: left;
    margin-left: -3rem;
    background-color: #E2E8F0;
    border: #E5E7EB 1px solid;
    text-align: center;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border: #059669 1px solid;
    box-shadow: 2px 5px 8px 0 rgb(0, 0, 0, 0.2);
}

.notifications {
    grid-column: 2/3;
    grid-row: 1/2;
}

.bell {
    margin: 2.3rem 0 0 -8rem;
    width: 15% !important;
    cursor: pointer;
    float: right;
}

.user {
    grid-column: 2/3;
    grid-row: 1/2;
}

.profile {
    float: right;
}

.avatar {
    border-radius: 50%;
    width: 15%;
}

.userAvatar {
    float: right;
    margin: 1rem 2.8rem 0 0;
}

.userName {
    float: right;
    margin-right: 3rem;
}

.greetings {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: -1rem -11rem 0 0;
}

.adminAvatar {
    float: left;
    width: 20%;
}

.admin {
    margin: 1.5rem 0 0 7rem;
}

.buttons {
    margin-top: 2rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

button {
    width: 7rem;
    height: 2.2rem;
    border-radius: 1.8rem;
    color: white;
    background-color: #059669;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 0.6rem;
    box-shadow: 2px 5px 8px 0 rgb(0, 0, 0, 0.2);
}

.sidebar {
    background-color: #059669;
    grid-column: 1/2;
    grid-row: 1/3;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0 0 0;
}

.sidebar li {
    padding: 0.6rem;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

.icon {
    width: 10%;
}

.menu {
    filter: invert(100%) sepia(100%) saturate(3%) hue-rotate(250deg) brightness(108%) contrast(100%);
    width: 20%;
    margin: 0 0.6rem -0.6rem 0.6rem;
}

.logo {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.13rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.content-title {
    position: absolute;
    top: 36%;
    left: 20%;
}

.cards {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    gap: 2rem;
    padding: 4rem;
}

.card {
    border-left: 5px solid rgb(5, 150, 105);
    border-radius: 1.8rem;
    padding: 2rem 1.5rem 2rem 2rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 5px 8px 0px;
    height: 200px;
}

.share {
    position: relative;
    left: 80%;
    top: 30%;
}

.share-icon {
    width: 8%;
    cursor: pointer;
}

.announcements {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 2.5rem 0 2.5rem;
    background-color: #fff;
    margin: 4rem 2rem 0 2rem;
    height: 320px;
    box-shadow: 2px 5px 8px 0 rgb(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.announcements-title {
    position: relative;
    top: -10%;
    left: -20%;
}

.announcements-hr {
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin: 0.5rem 0 0.5rem 0;
    visibility: visible;
}

.trending {
    grid-column: 2/3;
    padding: 0 2.5rem 1rem 2.5rem;
    margin: 4rem 2rem 2rem 2rem;
    background-color: #fff;
    box-shadow: 2px 5px 8px 0 rgb(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.trending-title {
    position: relative;
    top: -11%;
    left: -20%;
}

.trending-avatar {
    width: 30%;
    float: left;
}

.trending-name {
    padding-left: 3.8rem;
}

.trending-post {
    padding-left: 3.8rem;
    padding-bottom: 1rem;
    font-size: 0.9em;
    cursor: pointer;
}